.splits--split {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #000000;
  border-bottom: 1px solid #1c1c1c;
}

.splits--subsplit span {
  margin-left: 20px;
}

.splits--split__current {
  background-color: inherit;
  background-image: linear-gradient(#007bf7, #003eb2);
}

.splits--split__alt {
  background-color: #0f0f0f;
}

.splits--split__final {
  border-bottom: none;
  border-top: 2px solid #777;
}

.gold span {
  color: gold;
}

.light-green span {
  color: #c5e1a5;
}

.green span {
  color: #9ccc65;
}

.strong-green span {
  color: #66bb6a;
}

.light-red {
  color: #ef5350;
}

.red span {
  color: #f44336;
}

.strong-red span {
  color: #d32f2f;
}
