<div
  class="row splits--split"
  [ngClass]="{
    'splits--split__current': isCurrent && !columnOneValue.value,
    'splits--split__alt': isAlternating,
    'splits--split__final': isFinal,
    'splits--subsplit': isSubsplit
  }">
  <div class="col"><span>{{ mainLabel }}</span></div>
  <div
    *ngIf="columnThreeValue"
    class="col text-right"
    [ngClass]="{
      'gold': columnThreeValue.color === 'gold',
      'light-green': columnThreeValue.color === 'light-green',
      'green': columnThreeValue.color === 'green',
      'strong-green': columnThreeValue.color === 'strong-green',
      'light-red': columnThreeValue.color === 'light-red',
      'red': columnThreeValue.color === 'red',
      'strong-red': columnThreeValue.color === 'strong-red'
    }">
    <span *ngIf="columnThreeValue">
      {{ columnThreeValue.appender }}{{ columnThreeValue.value }}
    </span>
  </div>
  <div
    *ngIf="columnTwoValue"
    class="col text-right"
    [ngClass]="{
      'gold': columnTwoValue.color === 'gold',
      'light-green': columnTwoValue.color === 'light-green',
      'green': columnTwoValue.color === 'green',
      'strong-green': columnTwoValue.color === 'strong-green',
      'light-red': columnTwoValue.color === 'light-red',
      'red': columnTwoValue.color === 'red',
      'strong-red': columnTwoValue.color === 'strong-red'
    }">
    <span *ngIf="columnTwoValue">{{ columnTwoValue.appender }}{{ columnTwoValue.value }}</span>
  </div>
  <div
    class="col text-right"
    [ngClass]="{
      'gold': columnOneValue && columnOneValue.color === 'gold',
      'light-green': columnOneValue && columnOneValue.color === 'light-green',
      'green': columnOneValue && columnOneValue.color === 'green',
      'strong-green': columnOneValue && columnOneValue.color === 'strong-green',
      'light-red': columnOneValue && columnOneValue.color === 'light-red',
      'red': columnOneValue && columnOneValue.color === 'red',
      'strong-red': columnOneValue && columnOneValue.color === 'strong-red'
    }">
    <span *ngIf="columnOneValue && !columnOneValue.value" style="float: right;">-</span>
    <span *ngIf="columnOneValue">{{ columnOneValue.appender }}{{ columnOneValue.value }}</span>
  </div>
</div>
