<ss-context-menu
  [current-run]="currentRun"
  [current-split-archive]="currentSplitArchive"
  (opened-split-archive)="handleOpenedSplitArchive($event)"
  (reset-run)="handleResetRun()">
</ss-context-menu>

<div class="container-fluid no-padding">

  <ss-title
    [game-name]="currentSplitArchive.title"
    [category]="currentSplitArchive.category"
    [attempt-count]="currentSplitArchive.attemptCount">
  </ss-title>

  <ss-splits-list
    [current-run]="currentRun"
    [current-split-archive]="currentSplitArchive"
    [split-displays]="splitDisplays">
  </ss-splits-list>

  <ss-most-recent-split-value
    [recent-value]="recentValue">
  </ss-most-recent-split-value>

  <ss-deaths [deaths]="currentRun.deaths"></ss-deaths>
  <ss-sum-of-best
    [current-run]="currentRun"
    [current-split-archive]="currentSplitArchive"
    [current-split-displays]="splitDisplays">
  </ss-sum-of-best>
  <ss-pace
    [current-run]="currentRun"
    [split-displays]="splitDisplays">
  </ss-pace>

  <ss-manual-input></ss-manual-input>
  <!-- <ss-game-vision-input driver="donkey-kong"></ss-game-vision-input> -->
</div>
