<div
  id="splits-list"
  class="splits"
  (mousewheel)="onScroll($event)"
  style="min-height: 300px; height: 300px; overflow: hidden;">

  <div class="row column-headers--row sticky-top">
    <div class="col"></div>
    <div *ngIf="columns.columnThreeValue" class="col text-right">{{ getColumnHeaderLabel(columns.columnThreeValue) }}</div>
    <div *ngIf="columns.columnTwoValue" class="col text-right">{{ getColumnHeaderLabel(columns.columnTwoValue) }}</div>
    <div class="col text-right">{{ getColumnHeaderLabel(columns.columnOneValue) }}</div>
  </div>

  <div *ngFor="let splitDisplay of splitDisplays; last as isLast">
    <div *ngIf="(splitDisplay.subsplits) || (!splitDisplay.subsplits && !isLast)">
      <ss-split
        [main-label]="splitDisplay.mainLabel"
        [is-done]="splitDisplay.isDone"
        [is-current]="splitDisplay.id === currentRun.currentSplitId"
        [is-alternating]="splitDisplay.isAlternating"
        [current-maximum-value]="splitMaximums[splitDisplay.id]"
        [column-one-value]="getColumnValue(columns.columnOneValue, currentRun, splitDisplay.id)"
        [column-two-value]="getColumnValue(columns.columnTwoValue, currentRun, splitDisplay.id)"
        [column-three-value]="getColumnValue(columns.columnThreeValue, currentRun, splitDisplay.id)">
      </ss-split>

      <div *ngIf="getIfAnySubsplitIsActive(splitDisplay, currentRun)">
        <div *ngFor="let subsplit of splitDisplay.subsplits; last as lastSubsplit">
          <ss-split
            *ngIf="!isLast || (isLast && splitDisplay.subsplits && !lastSubsplit)"
            [ngClass]="{ 'last-subsplit': lastSubsplit }"
            [main-label]="subsplit.mainLabel"
            [is-subsplit]="true"
            [is-done]="subsplit.isDone"
            [is-current]="subsplit.id === currentRun.currentSplitId"
            [is-alternating]="subsplit.isAlternating"
            [current-maximum-value]="splitMaximums[subsplit.id]"
            [column-one-value]="getColumnValue(columns.columnOneValue, currentRun, subsplit.id)"
            [column-two-value]="getColumnValue(columns.columnTwoValue, currentRun, subsplit.id)"
            [column-three-value]="getColumnValue(columns.columnThreeValue, currentRun, subsplit.id)">
          </ss-split>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="splits final-split">
  <ss-split
    [main-label]="finalSplit.mainLabel"
    [is-done]="finalSplit.isDone"
    [is-current]="finalSplit.id === currentRun.currentSplitId"
    [is-alternating]="finalSplit.isAlternating"
    [is-final]="true"
    [is-subsplit]="finalSplit.isSubsplit && getIfFinalParentHasActiveSubsplits(getParentBySubsplitId(finalSplit.id, splitDisplays), currentRun)"
    [column-one-value]="getColumnValue(columns.columnOneValue, currentRun, finalSplit.id)"
    [column-two-value]="getColumnValue(columns.columnTwoValue, currentRun, finalSplit.id)"
    [column-three-value]="getColumnValue(columns.columnThreeValue, currentRun, finalSplit.id)">
  </ss-split>
</div>
